[Desktop Entry]
Version=1.0
Type=Application
Name=Phon
Comment=
Exec="<phondir>/Phon"
Icon=
Path=/home/ubuntu
Terminal=false
StartupNotify=false
Categories=Education
